.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml

# IDEs and Editors
.vscode/
.idea/

# Backup files
*.bak
*.swp

# Environment variables
.env
# Obsidian config
.obsidian/